body {
   font-family: Arial, sans-serif;
}
    
.task-list {
   list-style: none;
   padding: 0;
}

.task-item {
   background: #f4f4f4;
   margin: 5px 0;
   padding: 10px;
   border-radius: 5px;
}
.tasklist-item {
   margin-bottom: 20px;
}

@keyframes offsetr {
   from { transform: translateX(-5px); }
   to { transform: translateX(5px); }
}
 
.offsetr::before {
   animation-name: offsetr;
   animation-duration: 0.5s;
   animation-iteration-count: infinite;
   animation-direction: alternate;
}
#bottom-of-page-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}
#bottom-of-page {
  border-top: 1px solid #e4e4e4;
  width: 100%;
  background-color: #f4f4f4;
  height: 30px;
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: center;
}